<%= simple_form_for @post, :html => { :class => 'form-verticle' } do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :publish_date %>
  <%# MOD KIMADA 4/20/2013 Add Expiration Date %>
  <%= f.input :exp_date %>
  <%= f.association :categories, :as => :check_boxes %>

  <div class="form">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div> 
<% end %>
