<%- model_class = Post -%>
<div class="page-header">
  <h1>
    <%# MOD KIMADA Change Title to Expired Posts if the Expired Posts link is pressed%>
    <% if params[:show_expired].present? %>
    Expired <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <% else %>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <% end %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <%#<th><%= model_class.human_attribute_name(:id) %>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:publish_date) %></th>
      <th>User</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:exp_date) %></th>
      <th>Categories</th>
      <%# <th><%=t '.actions', :default => t("helpers.actions") %>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <%#<td><%= link_to post.id, post_path(post) %>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.body %></td>
        <td><%= post.publish_date %></td>
        <%# MOD KIMADA 4/20/2013 Show User Name %>
        <td><%= post.user.name %></td>
        <td><%= post.created_at %></td>
        <td><%= post.exp_date %></td>
        <td><% post.categories.each do |cat| %>
        <%= link_to cat.name, root_path(:cat => cat.id) %>
        <% end %></td>
        <%# MOD KIMADA 4/20/2013 Only Admin or Post Owners should be able to view %>
        <% if current_user && (current_user.has_role?(:admin) || current_user.id==post.user_id) %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>

<%# MOD KIMADA Show Expired Posts Link %>
<% if current_user && current_user.has_role?(:admin) && params[:show_expired].blank? %>
<%= link_to t('.index', :default => t("Show Expired Posts")),
            posts_path(:show_expired => 'Yes'),
            :class => 'btn btn-primary' %>
<% end %>

<%# Delete Expired Posts Link %>
<% if current_user && current_user.has_role?(:admin) && params[:show_expired].present? %>
<%= link_to t('.index', :default => t("Delete Expired Posts")),
            posts_path(:delete_expired => 'Yes'),
            :class => 'btn btn-primary' %>
<% end %>

