<body>
<div id="header">
  <h1><%= link_to "Women in Technology", root_path %></h1>
  <h2> <a href="http://www.mills.edu" target = 'new' >Mills College</a> </h2>
</div>
<div id="menu"> 
  <ul>
    <li class="first"><%=link_to "Home", root_path%></li>
    <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
    <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <!--added Posts link to menu for users/admin-spark 5/04/2013 -->
    <li>
      <%= link_to 'Posts', posts_path %>
      </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Users', users_path %>
      </li>
      <li>
      <%= link_to 'Categories', categories_path %>
      </li>
       
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
    <li><a href="http://www.linkedin.com/groups/Mills-College-Connections-46150?gid=46150&mostPopular=&trk=tyah" target = 'new' accesskey="4" title="Career Connections">Career Connections</a></li>
     <li><a href="http://www.mills.edu/admission/undergraduate/internships.php" target = 'new' accesskey="4" title="Internships">Internships</a></li>
  </ul>
</div>
<hr />